body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  // padding: 0;
  // margin: 0;
  font-family: "Raleway", "Roboto" sans-serif;
}

body{
  font-size:21px;
}

.clear-fix {
  overflow: auto;
}
#header{
  padding: 50px 0;
}

#header img{
  margin-right: 20px;
}

#workExperience,
#projects,
#education,
#mapDiv{
      padding: 75px 0px;
}

#main #mast{
  padding: 20px;
}

#projects img{
  display: inline-block;
  width: 250px;
}

.education-entry,
.work-entry,
.project-entry {
  // padding: 0 5%;
}

h1 {
  // font-size: 40px;
  font-size: 3rem;
  color: #f5a623;
  line-height: 48px;
  display: inline;
  // padding:20px;
  padding-right:15px;
}

#mast span{}

h2 {
  font-weight: bold;
  // font-size: 24px;
  font-size:2.2rem;
  color: #555;
  // line-height: 29px;
  // padding: 10px;
}

h3 {
  font-style: italic;
  // font-size: 20px;
  font-size: 25px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  // padding: 10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  // font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

a.header-link{
  font-size:1.8rem;
  text-decoration: none;

}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  // padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  // padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  // padding: 10px;
}

.center-content {
  // padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  // padding: 10px;
  width: 200px;
  display: none;
}

img {
  // padding: 10px;
}

span {
  // padding: 5px;
}

#lets-connect {
  text-align: center;
}

#lets-connect .orange{
  padding: 15px;
}

#footerContacts{
  margin-bottom: 0;
}

.btn-block{
  border-radius: 0;
  padding: 1.5rem;
  font-size: 24px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  // height: 100%;
  height:400px;
  margin: 5%;
}

#mapDiv {
  // height: 400px;
  height: 100vh;
  width: 100%;
  // padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

// Personal Editing

